q2.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_25_03_2023_00_56__Changes_.xml
.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_25_03_2023_00_56_[Changes]/shelved.patch
out/production/q2/BigInt.class
out/production/q2/BigIntTest.class
out/production/q2/Main.class
